@import "mixins";

header{
    background:url("https://static6.depositphotos.com/1126698/615/i/600/depositphotos_6150600-stock-photo-old-grunge-wood-panels.jpg");
    color: white;
    height: 8rem;

    .container{
        @include container;
        display: flex;
        justify-content: space-between;
        height: 100%;
        align-items: center;

        nav{
            a{
                background: url("https://www.crushpixel.com/big-static16/preview4/glowing-lights-on-wooden-background-2235761.jpg");
                margin-left: 0.5rem;
                border: solid;
                border-radius: 0.3rem;
                font-size: 1rem;
                padding: 0.5rem;
                color: black;
                text-decoration: none;
                font-weight: 800;
            }
        }
    }
}

@media screen and (max-width: 1000px) {

    header{
        width: 97.3vw;
        background-color: rgb(3,101,100);
        color: black;
        height: 6rem;
        text-align: center;
        
        .container{
            @include container;
            display: block;
            justify-content: space-between;
            height: 100%;
            align-items: center;

            h1{
                padding: 0.5rem;
            }
    
            nav{
                a{
                    margin-left: 1rem;
                    color: black;
                    text-decoration: none;
                    font-weight: 800;
                }
            }
        }
    }

}